@font-face {
  font-family: 'Swiss911';
  src: url('../assets/swiss_911.woff2') format('woff2'),
       url('../assets/swiss_911.ttf') format('truetype');
  font-smoothing: antialiased;
}

/* Defaults */
:root {
	--font-family: "Anek Gurmukhi", sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
	--font-header: 'Swiss911', sans-serif;
	--grid-gap:7px;
}

/* Theme colors */
:root {
	--color-primary: #ff9b00;
  --color-secondary: #a5a8ff;
  --pink1: #d5adff;
  --pink2: #cea1cd;
  --mauve: #d96f65;
  --ltorange: #ffa263;

	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;

	--background-color: #212121;

	/* --text-color: #fcaf71; */
	--text-color: #ffc89c;
	--text-color-link: var(--color-secondary);
	--text-color-link-active: var(--pink1);
	--text-color-link-visited: var(--color-secondary);

	--syntax-tab-size: 2;
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	font-size:1em;
	color: var(--text-color);
	background-color: var(--background-color);
}
html {
	overflow-y: scroll;
}
body {
	max-width: 90%;
	display:grid;
	row-gap: var(--grid-gap);
	column-gap:var(--grid-gap);
	grid-template-columns: 125px 1fr 25px 3fr 200px 40px; /* 6 */
	grid-template-rows: 125px 32px 25px 100px 200px 1fr 100px; /* 7 */
	grid-template-areas:
		"head1 header header header header header"
		"head1 head2 head3 head4 head4 head6"
		"head7 head8 head9 head11 head12 head13"
		"head7 main main main main main"
		"side1 main main main main main"
		"side2 main main main main main"
		"side3 footer footer footer footer footer";
}



main {
	font-size:1.2em;
	font-weight:300;
}

footer, .knownonly {
  display:none;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img {
  max-width: 100%;
}
img[width][height] {
  height: auto;
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}

img.inline-image {
	max-height:400px !important;
	width:auto;
}

h1 {
	font-family: var(--font-header);
	font-size:2.5em;
	font-weight:100;
	color: var(--color-secondary);
	text-transform: uppercase;
	letter-spacing:0.03em;
	text-align: center;
}
h1 .primary-color {
	color:var(--color-primary);
}

h1:first-of-type {
	margin-top:0;
}

h2 {
	font-family: var(--font-header);
	font-weight:100;
	font-size:2em;
	color: var(--pink1);
	text-transform: uppercase;
	letter-spacing:0.02em;
}

h3 a[href], h3 a[href]:visited {
	color: var(--pink2);
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

a.button, a:visited.button {
	cursor:pointer;
	text-decoration: none;
	font-weight:300;
	letter-spacing: 0.02em;
	font-family:var(--font-header);
	text-transform: uppercase;
	color: #000;
	padding:15px 30px;
	font-size:1.2em;
	background-color:var(--pink2);
	border-radius: 30px;
	transition: background-color 0.5s ease-in-out;
}
a.button:hover {
	background-color: var(--pink1);
}

main {
	grid-area: main;
}

main,
footer {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}


.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}
code {
	word-break: break-all;
}

/* Header */
header {
	font-family: var(--font-header);
	width:100%;
	grid-area: header;
	align-self: self-end;
	text-align: right;
}
.home-link, a.home-link, a.home-link:visited {
	letter-spacing: 0.05em;
	color: var(--color-primary);
	text-transform: uppercase;
	font-weight:200;
	position:relative;
	text-decoration: none;
	display: flex;
	flex-flow:row;
	justify-content:end;
	align-items:center;
}
.home-link span {
	padding:0 0.2em;
}
a.home-link .head-circle {
	font-size:0.4em;
	color:#fff;
}

/* LCAR Header Divs */
.lcar {
	height:100%;
	width:100%;
	color:#000;
	font-family: var(--font-header);
	text-align: right;
	font-size:1.5em;
	padding:0.3em;
	white-space: nowrap;
}

a[href].lcar, a[href]:visited.lcar {
	color:#000;
	text-transform: uppercase;
	text-decoration: none;
	padding:0 0.3em;
}

.lcar:hover {
	filter: brightness(105%);
}

.head1:hover ~ .head2, .head7:hover + .head8, .head10:hover + .head11, .head1:has(~ .head2:hover), .head7:has(+ .head8:hover), .head10:has(+ .head11:hover)  {
	filter: brightness(105%);
}

.head7, .head10, .side1, .side2, .side3, .mid1, .mid2, .mid3 {
	-webkit-align-content: end;
	align-content: end;
}

.head11, .head12, .head13 {
	height:55%;
}

.head1 {
	background-color: var(--color-secondary);
	grid-area:head1;
	border-radius: 0 0 0 70px;
	position:relative;
}

 .head1::after {
  position: absolute;
  content: '';
  width: 70px;
  height: 70px;
  background-image: radial-gradient(circle at 100% 100%, transparent 70px, var(--color-secondary) calc(46px + 1px));
  bottom: 32px;
  right: -70px;
  display: block;
  z-index: 1;
  transform: rotate(270deg);
}

.head2 {
	background-color: var(--color-secondary);
	grid-area:head2;
	margin-left:calc(-1 * var(--grid-gap));
	width: calc(100% + var(--grid-gap));
}

.head3 {
	background-color: var(--color-primary);
	grid-area:head3;
	padding:0 5px;
}

.head4 {
	/* background-color: var(--pink1); */
	grid-area:head4;
}

.head5 {
	background-color: var(--pink2);
	grid-area:head5;
}

.head6 {
	background-color: var(--color-primary);
	grid-area:head6;
}

.head7 {
	background-color: var(--mauve);
	grid-area:head7;
	border-radius: 70px 0 0 0;
	position: relative;
}

 .head7::after {
  position: absolute;
  content: '';
  width: 70px;
  height: 70px;
  background-image: radial-gradient(circle at 100% 100%, transparent 70px, var(--mauve) calc(46px + 1px));
  top: 25px;
  right: -70px;
  display: block;
  z-index: 1;
}

.head8 {
	background-color: var(--mauve);
	grid-area:head8;
	margin-left:calc(-1 * var(--grid-gap));
	width: calc(100% + var(--grid-gap));
}

.head9 {
	background-color: var(--color-primary);
	grid-area:head9;
}

.head10 {
	background-color: var(--color-secondary);
	grid-area:head10;
	border-radius: 70px 0 0 0;
	position: relative;
}
 .head10::after {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  background-image: radial-gradient(circle at 100% 100%, transparent 50px, var(--color-secondary) calc(34px + 1px));
  top: 14px;
  right: -50px;
  display: block;
  z-index: 1;
}

.head11 {
	background-color: var(--color-secondary);
	grid-area:head11;
}

.head12 {
	background-color: var(--mauve);
	grid-area:head12;
}

.head13 {
	background-color: var(--color-primary);
	grid-area:head13;
}

.side1 {
	background-color: var(--mauve);
	grid-area:side1;
}

.side2 {
	background-color: var(--ltorange);
	grid-area:side2;
}

.side3 {
	background-color: var(--color-primary);
	grid-area:side3;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	background-color: var(--pink1);
	line-height:unset;
	text-transform: uppercase;
	position: relative;
}
.nav-item:nth-of-type(n + 4) {
	background-color:var(--pink2);
}
.nav-item a, .nav-item a:visited, .nav-item a:hover {
	color:#000;
}
.nav-item a::before {
  content: '';
  vertical-align: middle;
  margin-right:5px;
  margin-bottom:3px;
  width:0;
  height:5px;
  display:inline-block;
  background-color:var(--background-color);
  transition: width 0.3s ease-in-out;
}
.nav-item:hover a::before {
	width:15px;
}
.nav-item a[href] {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

.nav button {
  width:100%;
  font-family: var(--font-header);
  background-color:transparent;
  padding:0;
  text-transform: uppercase;
  font-size: 1em;
}


/* Gallery */

.gallery {
	display:flex;
	width:100%;
}

.gallery-item {
	flex-grow:1;
	padding:5px;
}

.gallery-item img {
	max-height: 100%;
	object-fit: cover;
}


.menuIcon {
  display:none;
}

#dashboard .play-button .button {
  font-family: var(--font-header);
  cursor:pointer;
  text-decoration: none;
  font-weight:300;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000;
  padding:20px 35px;
  font-size:3em;
  background-color:var(--pink2);
  border-radius: 30px;
  transition: background-color 0.5s ease-in-out;

  /* make button text unselectable */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
#dashboard .play-button .button:hover {
  background-color: var(--pink1);
}

#dashboard .play-button .button.button2 {
  background-color:var(--mauve);
}

#dashboard .play-button .button.button3 {
  background-color:var(--ltorange);
}

#dashboard .play-button .button.button4 {
  background-color:var(--color-secondary);
}


@media screen and (min-width: 1001px) {
	.nav {
		flex-flow: row nowrap;
		width:100%;
		justify-content: space-between;
	}
	.nav-item {
		flex: 1 0 15%;
		margin: 0 0.15em;
		height:100%;
		padding:0 .5em;
		font-size:1.25em;
	}
	.nav-item:first-of-type {
		margin-left:0;
	}
	.nav-item:last-child {
		margin-right:0;
	}
	.mobile-nav-head {
		display: none;
	}

	.gallery {
		flex-flow: row wrap;
	}
	.gallery-item {
		height:350px;
	}
	.gallery-item img {
	  min-width: 100%;
	}

	.home-link, a.home-link, a.home-link:visited {
		font-size:3.8em;
	}
}

@media screen and (max-width: 1000px) {
	body {
		max-width: 95%;
		display:grid;
	  grid-template-columns: 50px 130px 1fr 20px; /* 4 */
	  grid-template-rows: 125px 25px 25px 100px 400px 1fr; /* 6 */
	  grid-template-areas:
	      "head1 header header header"
	      "head1 head2 head4 head6"
	      "head7 head8 head12 head6"
	      "head7 main main main"
	      "mid3 main main main"
	      "mid2 main main main"
	}

  .head3, .head11, .head9, .head13, .side1, .side2, .side3 {
      display: none;
  }
  .lcar.head1, .lcar.mid1 {
      color:transparent;
  }
  .lcar.head1 span, .lcar.mid1 span {
  	display: none;
  }
 	.head1::after {
 		bottom: 25px;
 		width: 50px;
	  height: 50px;
	  background-image: radial-gradient(circle at 100% 100%, transparent 50px, var(--color-secondary) calc(36px + 1px));
	  right: -50px;
 	}

  .showMenu {
  	transform:translateX(-100vw);
  }
  .freezeScroll {
  	overflow:hidden;
  }

  .nav-item {
    width:100%;
  }
/*	.nav {
		display:flex;
		position:fixed;
		flex-flow:column;
		background-color: var(--background-color);
		height:100%;
		z-index:10;
		left:100vw;
		transition:1s ease-in-out;
	}
	.nav-item {
		padding:.5em;
		width:50%;
		font-size:5.5vh;
	}
	.nav-item:last-child {
		padding-bottom:1.5em;
		border-radius: 0 0 60px 0;
	}
	.mobile-nav-head {
		min-height:60px;
		background-color:var(--pink1);
		width:100%;
		display:block;
		margin-top:15px;
		border-radius: 60px 0 0 0;
	}
	.mobile-nav-head::after {
	  position: absolute;
	  content: '';
	  width: 100px;
	  height: 100px;
	  background-image: radial-gradient(circle at 100% 100%, transparent 100px, var(--pink1) calc(34px + 1px));
	  margin-top:15px;
	  top: 60px;
	  left: 50%;
	  display: block;
	  z-index: 10;
	}
	.close {
		cursor:pointer;
		display:inline-block;
		padding:0.2em 0.8em;
		text-transform: uppercase;
		font-size:1.5em;
	}
	.menuIcon {
		cursor: pointer;
		font-size:1.2em;
		text-transform: uppercase;
	}*/

	.gallery {
		flex-flow:column;
	}
	.gallery-item img {
		min-width:100%;
	}

	.home-link, a.home-link, a.home-link:visited {
		font-size:6vi;
	}
}

